body{
    background: #d69fff;
}
.a{
    border: 2px solid rgb(87, 62, 62);
    width:  270px;
    height: 430px;
    float: left;
    margin: 10px;
    background: white;
    
}
.b{
    text-align: center;
    background: slategrey;
    font-size: 50px;
    color: yellow;
}